NONSECURE_USE_OF_DEVELOPMENT_MNEMONIC1="endorse answer radar about source reunion marriage tag sausage weekend frost daring base attack because joke dream slender leisure group reason prepare broken river"
STRONGHOLD_PASSWORD="some_hopefully_secure_password"