/target
/test-storage
/storage
backup
.DS_Store
book
*.pyc
.env
.vscode
*.ipynb
*.stronghold
/.idea
alice-database
*.log
*/walletdb
/pingdb
/pongdb
offline_walletdb
online_walletdb
addresses.json
prepared_transaction.json
signed_transaction.json
wallet/test-storage