[package]
name = "iota-wallet"
version = "0.1.0"
authors = ["Lucas Nogueira <lucas.nogueira@iota.org>"]
edition = "2018"

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[dependencies]
thiserror = "1.0"
chrono = { version = "0.4", features = ["serde"] }
getset = "0.1"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_repr = "0.1"
once_cell = "1.5"
iota-core = { git = "https://github.com/iotaledger/iota.rs", rev = "27e069d7aa5a49f78b00535eb3b2caa7ec4cc3a5", features = ["mqtt"] }
bee-common = { git = "https://github.com/iotaledger/bee.git", branch = "dev" }
url = { version = "2.2", features = [ "serde" ] }
tokio = { version = "1.0", features = ["macros", "sync", "time", "rt", "rt-multi-thread"] }
rand = "0.7"
rusqlite = { version = "0.24", features = ["bundled"], optional = true }
slip10 = "0.4"
hex = "0.4"
futures = "0.3"
backtrace = "0.3"
async-trait = "0.1"
log = "0.4"

# stronghold
iota-stronghold = { git = "https://github.com/iotaledger/stronghold.rs", rev = "87ec1eb0dc46dc83e92cb4a2e3873270e1b6cdf7", optional = true }
riker = { version = "0.4", optional = true }
blake2 = { version = "0.9", optional = true }
slog = { version = "2.7", optional = true }
zeroize = { version = "1.2", features = ["zeroize_derive"], optional = true }

# ledger hardware wallets
iota-ledger = { git = "https://github.com/iotaledger/ledger.rs", branch = "develop", optional = true  }

[dependencies.iota-crypto]
git = "https://github.com/iotaledger/crypto.rs"
rev = "6e67b652dd55df05877f575b9a09ccb5a7006694"
features = ["random", "sha", "pbkdf", "hmac", "bip39", "bip39-en", "chacha"]

[dev-dependencies]
tokio = { version = "1.0", features = ["full"] }
sled = "0.34"
rusty-fork = "0.3"
anyhow = "1.0"

[features]
default = ["stronghold", "stronghold-storage"]
stronghold = ["iota-stronghold", "riker", "blake2", "slog", "zeroize"]
stronghold-storage = ["iota-stronghold", "riker", "blake2", "slog", "zeroize"]
sqlite-storage = ["rusqlite"]
ledger-nano = ["iota-ledger"]
ledger-nano-simulator = ["iota-ledger"]
