[package]
name = "iota-wallet"
version = "0.1.0"
authors = ["Lucas Nogueira <lucas.nogueira@iota.org>"]
edition = "2018"

[dependencies]
anyhow = "1.0"
chrono = { version = "0.4", features = ["serde"] }
getset = "0.1"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
once_cell = "1.4"
iota-core = { git = "https://github.com/iotaledger/iota.rs", branch = "dev" }
url = { version = "2.1", features = [ "serde" ] }
tokio = "0.2"
rand = "0.3"
rusqlite = "0.23"

# stronghold
vault = { git = "https://github.com/iotaledger/stronghold.rs/", optional = true, rev = "a81191f" }
crypto = { git = "https://github.com/iotaledger/stronghold.rs/", optional = true, rev = "a81191f" }
random = { git = "https://github.com/iotaledger/stronghold.rs/", optional = true, rev = "a81191f" }
snapshot = { git = "https://github.com/iotaledger/stronghold.rs/", optional = true, rev = "a81191f" }
primitives = { git = "https://github.com/iotaledger/stronghold.rs/", optional = true, rev = "a81191f" }
bincode = { version = "1.3.1", optional = true }

[dev-dependencies]
tokio = { version = "0.2", features = ["full"] }
rusty-fork = "0.3.0"

[features]
default = ["vault", "crypto", "random", "snapshot", "primitives", "bincode"]
sqlite = []
