[package]
name = "iota-wallet"
version = "0.1.0"
authors = ["Lucas Nogueira <lucas.nogueira@iota.org>"]
edition = "2018"

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[dependencies]
async-trait = "0.1"
backtrace = "0.3"
bee-common = "0.4"
chrono = { version = "0.4", features = ["serde"] }
futures = "0.3"
getset = "0.1"
hex = "0.4"
iota-client = { git = "https://github.com/iotaledger/iota.rs", rev = "57c5a33d83be4b8286a54156e9f0d2ac4345e9b9", features = ["mqtt"] }
log = "0.4"
once_cell = "1.5"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_repr = "0.1"
thiserror = "1.0"
tokio = { version = "1.5", features = ["macros", "sync", "time", "rt", "rt-multi-thread"] }
url = { version = "2.2", features = ["serde"] }
rand = "0.8"
rocksdb = { git="https://github.com/iotaledger/rust-rocksdb", rev = "70f2a53529ecc1853a2c025cec7f9d00bd50352c", default-features = false, features = ["lz4"] }
zeroize = { version = "1.2", features = ["zeroize_derive"] }

# stronghold
iota_stronghold = "0.4.1"
riker = "0.4"
slog = "2.7"

# ledger hardware wallets
iota-ledger = { git = "https://github.com/iotaledger/ledger.rs", rev = "79153530377a4c0659e81ad2d5be749aedbf4a61", optional = true  }

# migration
iota-migration = { git = "https://github.com/iotaledger/iota.rs", rev = "c9509f8c911ef0dcca70dda83247e2dcbd85aa81", package = "iota-core" }
bytemuck = "1.5"

[dependencies.iota-crypto]
version = "0.5.0"
features = ["random", "sha", "pbkdf", "hmac", "bip39", "bip39-en", "chacha", "blake2b", "slip10"]

[dev-dependencies]
anyhow = "1.0"
reqwest = { version = "0.11", features = ["json"] }
rusty-fork = "0.3"
tokio = { version = "1.5", features = ["full"] }
quickcheck = "1.0"
quickcheck_macros = "1.0"

[features]
default = ["stronghold"]
ledger-nano = ["iota-ledger"]
ledger-nano-simulator = ["iota-ledger"]
stronghold = []
