[package]
name = "iota-wallet"
version = "0.1.0"
authors = ["Lucas Nogueira <lucas.nogueira@iota.org>"]
edition = "2018"

[dependencies]
thiserror = "1.0"
chrono = { version = "0.4", features = ["serde"] }
getset = "0.1"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_repr = "0.1"
once_cell = "1.4"
iota-core = { git = "https://github.com/iotaledger/iota.rs", branch = "dev" }
url = { version = "2.1", features = [ "serde" ] }
tokio = { version = "0.2", features = ["macros", "sync", "time"] }
rand = "0.3"
rusqlite = { version = "0.23", features = ["bundled"], optional = true }
slip10 = "0.4"
bech32 = "0.7"
hex = "0.4"
futures = "0.3"
backtrace = "0.3"
async-trait = "0.1"
log = "0.4"
iota-crypto = { git = "https://github.com/iotaledger/crypto.rs", rev = "78b747be00fe960a5fccd97c06c39f3513221dc7", features = ["pbkdf", "hmac", "sha"] }

# env mnemonic
bee-signing-ext = { git = "https://github.com/wusyong/bee-p.git", branch = "sign-ext", version = "^0.1.0-alpha" }
hmac = "0.7.1"
blake2 = "0.9"
unicode-normalization = "0.1.13"
pbkdf2 = "0.3.0"
sha2 = "0.8.1"
dotenv = "0.15"
dialoguer = "0.7"
tiny-bip39 = "0.7"

# stronghold
iota-stronghold = { git = "https://github.com/iotaledger/stronghold.rs", branch = "dev", optional = true }
riker = { version = "0.4", optional = true }
riker-patterns = { version = "0.4", optional = true }

[dev-dependencies]
tokio = { version = "0.2", features = ["full"] }
sled = "0.34"
rusty-fork = "0.3.0"
anyhow = "1.0"

[features]
default = ["stronghold", "stronghold-storage"]
stronghold = ["iota-stronghold", "riker", "riker-patterns"]
stronghold-storage = ["iota-stronghold", "riker", "riker-patterns"]
sqlite-storage = ["rusqlite"]
