# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

target

.project
.settings
.classpath
bin/
.cxx/

# Ignore generated java code
native/src/main/java/org/iota/wallet/*

# Ignore generated binaries
examples/android-app/src/main/libs/


# the local/native java code we made custom
!native/src/main/java/org/iota/wallet/local/

# Android generated toolchains
android-ndk
# Android apps
*.apk
# Android keychains for signing
*.jks
.cxx/
