# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

target

.project
.settings
.classpath
bin/
.cxx/

# Ignore generated java code
native/src/main/java/org/iota/wallet/*

# the local/native java code we made custom, unignore
!native/src/main/java/org/iota/wallet/local/

# Ignore generated binaries
examples/android-app/src/main/libs/

# Android apps
*.apk
# Android keychains for signing
*.jks
.cxx/

# Android studio
local.properties
.idea