<div class="header__wrapper">
    <img class="header__brand" src="https://docs.iota.org/static/Logo.a2e87dd3.svg">

    <div class="top-header">
        <ul class="top-header__items">
            <li class="top-header__item"><a class="top-header__item-link" href="https://www.iota.org" target="_blank"
                    rel="noopener noreferrer">iota.org</a></li>
            <li class="top-header__item"><a class="top-header__item-link" href="https://blog.iota.org/" target="_blank"
                    rel="noopener noreferrer">news</a></li>
            <li class="top-header__item"><a class="top-header__item-link" href="https://ecosystem.iota.org/" target="_blank"
                    rel="noopener noreferrer">ecosystem</a></li>
            <li class="top-header__item"><a class="top-header__item-link" href="https://roadmap.iota.org/" target="_blank"
                    rel="noopener noreferrer">roadmap</a></li>
            <li class="top-header__item"><a class="top-header__item-link" href="https://status.iota.org/" target="_blank"
                    rel="noopener noreferrer">status</a></li>
            <li class="top-header__item"><a class="top-header__item-link" href="https://training.iota.org/" target="_blank"
                    rel="noopener noreferrer">training</a></li>
            <li class="top-header__item"><a class="top-header__item-link" href="https://trinity.iota.org/" target="_blank"
                    rel="noopener noreferrer">wallet</a></li>
            <li class="top-header__item"><a class="top-header__item-link" href="https://utils.iota.org/" target="_blank"
                    rel="noopener noreferrer">utilities</a></li>
        </ul>
    </div>

</div>