[workspace]

[package]
name = "iota-wallet-python-binding"
version = "0.1.0"
authors = ["Bing-Yang Lin <bingyang.lin@iota.org>"]
license = "MIT"
edition = "2018"

[lib]
name = "iota_wallet"
crate-type = ["cdylib"]

[dependencies]
iota-wallet = { path = "../../../", version = "0.1.0", features = ["stronghold", "stronghold-storage", "sqlite-storage", "ledger-nano", "ledger-nano-simulator"] }
iota-core = { git = "https://github.com/iotaledger/iota.rs", rev = "1554893c01d37ef067a4d7559e33a0da48401cac", features = ["mqtt"] }
chrono = "0.4"
serde_json = "1.0"
serde = "1.0"
tokio = { version = "1.3", features = ["rt", "rt-multi-thread"] }
hex = "0.4"
dict_derive = "0.3.0"
futures = "0.3"
once_cell = "1.7"
url = "2.2"

[dependencies.pyo3]
version = "0.13"
features = ["extension-module", "abi3-py36"]
