[workspace]

[package]
name = "iota-wallet-python-binding"
version = "0.1.0"
authors = ["Bing-Yang Lin <bingyang.lin@iota.org>"]
license = "MIT"
edition = "2018"

[lib]
name = "iota_wallet"
crate-type = ["cdylib"]

[dependencies]
iota-wallet = { path = "../../../", version = "0.1.0", features = ["stronghold", "stronghold-storage", "sqlite-storage", "ledger-nano", "ledger-nano-simulator"] }
iota-core = { git = "https://github.com/iotaledger/iota.rs", rev = "2ca80f1a632b153d420516c84b13464ba841d4ed", features = ["mqtt"] }
chrono = "0.4"
tokio = { version = "1.2", features = ["rt", "rt-multi-thread"] }
hex = "0.4"
dict_derive = "0.3.0"
futures = "0.3"
once_cell = "1.4"
url = "2.2"

[dependencies.pyo3]
version = "0.13"
features = ["extension-module", "abi3-py36"]

[patch.'crates-io']
paho-mqtt = { git = "https://github.com/rajivshah3/paho.mqtt.rust", branch = "feature/openssl-static-link-master-0.9"}