*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
build
target
/captures
.externalNativeBuild
.cxx
local.properties
.idea/

# Android apps
*.apk
# Android keychains for signing
*.jks
.cxx/

# Ignore generated java code
native/src/main/java/org/iota/wallet/*

# the local/native java code we made custom, unignore
!native/src/main/java/org/iota/wallet/local/

# Ignore generated binaries
examples/android-app/src/main/libs/