name: Udeps

on:
  push:
    branches:
      - dev
      - develop
      - main
  pull_request:
    branches:
      - dev
      - develop
      - main

concurrency: 
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  udeps:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: nightly
        override: true

    - name: Cache cargo registry
      uses: actions/cache@v2
      with:
        path: ~/.cargo/registry
        key: ubuntu-latest-nightly-cargo-registry-${{ hashFiles('**/Cargo.toml') }}

    - name: Cache cargo index
      uses: actions/cache@v2
      with:
        path: ~/.cargo/git
        key: ubuntu-latest-nightly-cargo-index-${{ hashFiles('**/Cargo.toml') }}

    - name: Cache cargo target
      uses: actions/cache@v2
      with:
        path: target
        key: ubuntu-latest-nightly-cargo-build-target-${{ hashFiles('**/Cargo.toml') }}

    - name: Cache nodejs binding cargo target
      uses: actions/cache@v2
      with:
        path: bindings/nodejs/target
        key: ubuntu-latest-nightly-cargo-build-node-target-${{ hashFiles('**/Cargo.toml') }}

    - name: Install required packages (Ubuntu)
      run: |
        sudo apt-get update
        sudo apt-get install libudev-dev libusb-1.0-0-dev

    - name: Cache python binding cargo target
      uses: actions/cache@v2
      with:
        path: bindings/python/native/target
        key: ubuntu-latest-nightly-cargo-build-python-target-${{ hashFiles('**/Cargo.toml') }}

    - uses: actions-rs/cargo@v1
      with:
        command: install
        args: cargo-udeps --locked

    - name: Run udeps
      uses: actions-rs/cargo@v1
      with:
        command: udeps
        args: --all-targets

    - name: Run udeps for Node.js
      uses: actions-rs/cargo@v1
      with:
        command: udeps
        args: --manifest-path ./bindings/nodejs/Cargo.toml --all-targets

    - name: Run udeps for Python
      uses: actions-rs/cargo@v1
      with:
        command: udeps
        args: --manifest-path ./bindings/python/native/Cargo.toml --all-targets